.idea/*
.stack*
.cabal*
.liquid/
.vscode/*
result
.history/
build/
out/
dist
*.iml
target/
cabal.sandbox.config
hello
*.dll
*.dylib
*.so
*.js
*.ll
*.pdf
*.prof
*.o
*.a
*.out
*.aux
*.hp
.DS_Store
Thumbs.db

